
@{
    ViewBag.Title = "art";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}
@*@{
        var product1 = new SessionShop.Models.Mobiles { Id = 1, MobileName = "Green", Price = 25000 };
        var product2 = new SessionShop.Models.Mobiles { Id = 2, MobileName = "Purple", Price = 30000 };
        var product3 = new SessionShop.Models.Mobiles { Id = 3, MobileName = "White", Price = 21000 };
        var product4 = new SessionShop.Models.Mobiles { Id = 4, MobileName = "Blue", Price = 31000 };
        var product5 = new SessionShop.Models.Mobiles { Id = 5, MobileName = "Red", Price = 19000 };
        var product6 = new SessionShop.Models.Mobiles { Id = 6, MobileName = "Black", Price = 33000 };
        var product7 = new SessionShop.Models.Mobiles { Id = 7, MobileName = "Gold", Price = 18000 };
        var product8 = new SessionShop.Models.Mobiles { Id = 8, MobileName = "Blacks", Price = 28000 };
    }*@
<!-- Header-->
<!-- Header   Searching-->
<header>
    <div class="hero-image">
        <div class="text-center text-white">
            <br />
            <br />
            <br />
            <br />
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="ค้นหาภาพถ่ายตามความต้องการของคุณ" aria-label="Search"
                       aria-describedby="search-addon" />
                <button type="button" class="btn btn btn-dark">ค้นหา</button>
            </div>
            <h1 class="hero-text">
                รวมรูปภาพสวยๆพร้อมให้คุณดาวน์โหลด

            </h1>
            <p class="hero-text2">ปลดปล่อยพลังสร้างสรรค์ของคุณ</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-1 mt-5">
        <div class="hero-text3">
            หมวดหมู่ต่างๆ
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd1.jpg")" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ศิลปะ</h5>
                            <!-- Product price-->
                            <!-- 25,000-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    @*<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add", "AddToCart",product1)">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd5.jpg")" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ธรรมชาติ</h5>
                            <!-- Product reviews-->
                            <!--<div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>-->
                            <!-- Product price-->
                            <!--<span class="text-muted text-decoration-line-through">$35,000</span>
                            30,000-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    @*<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product2)">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd2.jpg")" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">สัตว์</h5>
                            <!-- Product price-->
                            <!--<span class="text-muted text-decoration-line-through">$28,000</span>
                            21,000-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    @*<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product3)">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>

            <!-- Product actions-->
            @*<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product5)">
                            <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                        </a>
                    </div>
                </div>*@
        </div>
    </div>
    @*<div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/pd6.jpg")" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">แพนกวิน</h5>
                        <!-- Product price-->
                        <!-- 33,000-->
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product6)">
                            <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                        </a>
                    </div>
                </div>
        </div>
        </div>
        @*<div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <!--<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                        <!-- Product image-->
                        <img class="card-img-top" src="@Url.Content("~/Content/images/pd7.jpg")" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">หิมะขาว</h5>
                                <!-- Product reviews-->
                                <!--<div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>-->
                                <!-- Product price-->
                                <!-- <span class="text-muted text-decoration-line-through">$20.00</span>
                18,000-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product7)">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                                </a>
                            </div>
                        </div>
            </div>
            </div>
            <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@Url.Content("~/Content/images/pd8.jpg")" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">กุหลาบน้ำแข็ง</h5>
                                <!-- Product reviews-->
                                <!--<div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>-->
                                <!-- Product price-->
                                <!--28,000-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a id="btn_add" class="btn btn-outline-dark mt-auto" href="@Url.Action("Add","AddToCart",product8)">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>เพิ่มใส่ตะกร้า
                                    </a>
                                </div>
                            </div>
                </div>
                </div>
                </div>
                </div>*@
</section>