@model Images.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Password Form  Responsive Widget Template | Home :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="~/Content/css-Reset/style.css" rel="stylesheet" />
</head>

<body>
    @using (Html.BeginForm("ForgotPasswordT", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <!--element start here-->
        <div class="elelment">
            
            <div class="element-main">
                <h1>Forgot Password</h1>
                <p> โปรดกรอกอีเมล์ของท่านเพื่อรีเซ็ทรหัสผ่านของคุณ</p>
                <form>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <input type="submit" value="Reset my Password">
                   
                    <p class="backlogin">@Html.ActionLink("Back to Login", "LoginT")</p>
                </form>
            </div>
        </div>
    }
    <!--element end here-->
</body>
</html>
